language: python

dist: xenial

python:
- "3.7"
- "3.8-dev"

install:
- pip install pipenv
- pipenv install --dev

script:
- py.test --cov-report term --cov pystructs tests

after_success:
- codecov

deploy:
  provider: pypi
  user: moreal
  password:
    secure: mlmQdQR8ZDhhB6orUKNibEKOr4aMWm6FS2F6Te3PtEGOMsM9+ehhfF1YMmRyU6NlRl5o7CxHTVQM/p11EKSrK/pDGApzDbnJsn5BIIzGhH/NkxGpazFmedSzQbNzDwPVdZd2RKc21Mws1fxhfFk+u/OPx2a7aSfvekaQUFz33uJbyQBQNt8G2Pi4NESef2R+cCH3JTaUBrGkGDnsrgREdAT5DoV1Cc8RD81svROCVLWLa8vpTtjkzGVVpcM5X7Y8pFWvIAgUK+KHGJ7JR0q4a1Ma1apyNj3w/pG+lXrqEIYJlmcuJbdZHqUUiRJqOpBvpjQc/0VkOubRaWgksyzeZl4pJIYiHES1iKZt9X/d0mrWlz9aCDCHfLCeF9rOvrmGn7AQ7RC0RXFpB05aHc+3z44TRUqS6RfmQZ2siO3LPgc8ZcLyyAvUjSUZzv01MbKb3vKqXMpyMX8Oko/61PleyZcCcKs9KP9MfqUcneDfCEf9sL0EjHuvsPGjqCpSMzuY4SclBjcRSq3fyGpMe+K059kILvqYoiFE2BBxxVdvWNr0jRCKfJFuHDlkEy+WQNCZ4naSK3+/EpRyVVzI3RmM0akLCW/kiePzn6LhJQSzNI0O0MKaknkovpi5401iu2kK8WsY/71QKoNJiTx8r3Z6F68yCZygHNREhVBZPpxTvsE=
  skip_cleanup: true
  skip_existing: true
  on:
    tags: true
    branch: master
